@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply bg-dark-800 text-slate-200 overflow-hidden;
  }
}

/* Custom Scrollbar for Dark Theme */
::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}

::-webkit-scrollbar-track {
  @apply bg-dark-900;
}

::-webkit-scrollbar-thumb {
  @apply bg-dark-600 rounded-full hover:bg-slate-500;
}

.graph-container {
  width: 100%;
  height: 100%;
}
